
:root {
    // ! SHAPES
    --def-border-radius: 8px;
    --card-border-radius: 8px;
    // --box-shadow: 0 4px 10px -2px rgba(0,0,0,.1);
    --box-shadow: 0px 1px 3px rgba(0,0,0,0.04), 0px 6px 12px rgba(0,0,0,0.02);

    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --box-shadow-big: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);


    // ! COLORS DEFAULT
    --main-color: #008dff;
    --link-color: var(--main-color);
    --txt-color: hsl(0deg 0% 19%);
    --bg-color: black;
    // --bg-color: #f0f4f9;
    --bg-alt-color: #fafafa;
    --bg-alt-color-2: #f5f5f5;
    --bg-white-semi-transp: hsl(0deg 0% 100% / 69%);
    --main-grad: linear-gradient(108deg,#008dff 24%,#00d39a 80%);
    --main-grad-rev: linear-gradient(108deg,#00f6ff 24%,#008dff 80%);
    --grad-2: linear-gradient(108deg,#008dff 70%,#00f6ff 100%);
    --menu-def-color: #000;
    // --mmenu-card-color: #f6f9fb;
    --mmenu-card-color: #f5f9fd;

    // ? THEME COLOR SCHEME DEFAULT

    --header-default-grad-bg: linear-gradient(
        15deg,
        hsl(207deg 98% 19%) 0%,
        hsl(207deg 98% 22%) 11%,
        hsl(207deg 98% 25%) 22%,
        hsl(207deg 99% 29%) 33%,
        hsl(207deg 99% 33%) 44%,
        hsl(207deg 99% 36%) 56%,
        hsl(207deg 99% 40%) 67%,
        hsl(207deg 99% 43%) 78%,
        hsl(207deg 100% 46%) 89%,
        hsl(207deg 100% 50%) 100%
    );


    --heading-default-grad-bg: linear-gradient(
        270deg,
        hsl(207deg 98% 19%) 0%,
        hsl(207deg 98% 22%) 11%,
        hsl(207deg 98% 25%) 22%,
        hsl(207deg 99% 29%) 33%,
        hsl(207deg 99% 33%) 44%,
        hsl(207deg 99% 36%) 56%,
        hsl(207deg 99% 40%) 67%,
        hsl(207deg 99% 43%) 78%,
        hsl(207deg 100% 46%) 89%,
        hsl(207deg 100% 50%) 100%
    );


    --header-scrolled-color: var(--main-color);
	--header-scrolled-border-color: #0074d3;


    // ? THEME COLOR SCHEME RED
    --header-red-grad-bg: linear-gradient(
        15deg,
        hsl(0deg 100% 33%) 0%,
        hsl(8deg 98% 35%) 24%,
        hsl(13deg 96% 38%) 62%,
        hsl(16deg 94% 40%) 78%,
        hsl(18deg 91% 43%) 87%,
        hsl(20deg 88% 45%) 93%,
        hsl(22deg 85% 48%) 96%,
        hsl(23deg 85% 51%) 99%,
        hsl(25deg 92% 54%) 100%,
        hsl(26deg 100% 56%) 100%
      );

    --heading-red-grad-bg: linear-gradient(
        270deg,
        hsl(0deg 100% 33%) 0%,
        hsl(8deg 98% 35%) 24%,
        hsl(13deg 96% 38%) 62%,
        hsl(16deg 94% 40%) 78%,
        hsl(18deg 91% 43%) 87%,
        hsl(20deg 88% 45%) 93%,
        hsl(22deg 85% 48%) 96%,
        hsl(23deg 85% 51%) 99%,
        hsl(25deg 92% 54%) 100%,
        hsl(26deg 100% 56%) 100%
      );



    --header-scrolled-color-red: #a80000;
    --header-scrolled-border-color-red: #650707;
    // --button-color-red: #b51f03;
    --button-color-red: #b82403;
    --cta-color-red: var(--main-color);

    // ? THEME COLOR SCHEME GREEEN
    --header-green-grad-bg: linear-gradient(
        15deg,
        hsl(124deg 100% 25%) 0%,
        hsl(130deg 100% 26%) 9%,
        hsl(137deg 100% 28%) 25%,
        hsl(143deg 100% 29%) 40%,
        hsl(150deg 100% 31%) 52%,
        hsl(157deg 100% 32%) 63%,
        hsl(163deg 100% 34%) 73%,
        hsl(170deg 100% 35%) 83%,
        hsl(176deg 100% 36%) 91%,
        hsl(183deg 100% 38%) 100%
      );

    --header-scrolled-color-green: #008008;
    --header-scrolled-border-color-green: #035610;

    // ? DEFINED BG COLOR LIST
    --bgcolor-dark-1: #191308;
    --bgcolor-dark-2: #5b5bf1;
    --bgcolor-dark-3: #454B66;
    --bgcolor-dark-4: #2D0605;
    --bgcolor-dark-5: #4C0827;


    // ? green custom secon grad bg
    --header-custom-grad-bg-green: radial-gradient( 50vw 100% at calc(110% - 5vw) 100%, hsl( 114deg 98% 65% / 80% ) 25%, hsl( 57deg 98% 100% / 0% ) 120%);
    // ? yellow custom secon grad bg
    --header-custom-grad-bg-yellow: radial-gradient( 50vw 100% at calc(110% - 5vw) 100%, hsl( 56deg 100% 56% / 80% ) 25%, hsl( 9deg 98% 36% / 0% ) 120%);
    --header-custom-grad-bg-orange: radial-gradient( 50vw 100% at calc(110% - 5vw) 100%, hsl( 35deg 100% 56% / 80% ) 25%, hsl( 9deg 98% 36% / 0% ) 120%);
    --header-custom-grad-bg: none;


    // --transparent-header-bg-color: rgba(0,0,0,0.16);
    --transparent-header-bg-color: rgba(255,255,255,0.08);
    --transparent-header-bg-color-light: rgba(255,255,255,0.08);

    // --footer-bg-color: #363636;
    --footer-bg-color: transparent;

    --ui-color: #eaeaea;
    --ui-color-subdarker: #ccc;
    --ui-color-darker: #767676;

    --second-color: #7f93c8;
    --third-color: #a8d4ff;

    --section-color: #fbf8f9;

    // ! BUTTONS
    --button-font-size: clamp(0.8rem, 3vw, 1rem);
    --button-padding-horiz: 2.5ch;
    --button-padding-vert: .7ch;

    --button-hover-color: var(--cta-color);
    --button-hover-color-2: var(--main-grad);
    --button-border-radius: 20.1ch;
    --button-color: var(--main-color);
    --cta-color: rgba(250, 27, 89, 1.00);
    --cta-text-color: white;
    --unicode-ok: '\f00c';
    --unicode-engranaje: '\e900';
    --unicode-search: '\f002';
    --unicode-phone: '\f095';
    --unicode-angle-right: '\f105';


    // ! FONTS & TYPOGRAPHY
    --def-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    --def-heading-font-family: Exo, Helvetica, Arial, sans-serif;
    --def-txt-color: #7b7b7b;
    --txt-heading-color: #3a3a3a;
    --light-grey-color: #ddd;
    --light-light-grey-color: #f5f5f5;
    --ui-font-size: 0.7rem;
    --ui-mm-font-size: .8rem;


    // ! DIMENSIONS CONSTANTS
    --def-layout-horiz-padding: 1.25rem;
    --card-padding: clamp(1.25rem, 5vw, 3rem);
    --mobile-header-height: 60px;
    --desktop-header-height: 60px;
	--desktop-above-header-height: 56px;
	--mobile-above-header-height: 0px;
    --whole-header-height: calc(var(--desktop-header-height) + var(--desktop-above-header-height));
    @media only screen and (max-width : 921px) {
        --whole-header-height: calc(var(--mobile-header-height) + var(--mobile-above-header-height));
    }
	--mobile-breakpoint: 921px;
    --default-section-vert-padding: clamp(2rem, 8vw, 5rem);
    --header-min-height: 350px;
    @media only screen and (max-width : 921px) {
        --header-min-height: 260px;
    }
    @media only screen and (max-width : 544px) {
        --header-min-height: 200px;
    }

    // --sticky-header-trigger-height: 350px;
    --desktop-submenu-width: 260px;
    --header-sub-line-height: 4px;

    // ! MOBILE MENU DIMENSIONS
    --mm-width: 360px;
    --mm-nav-header-height: calc( 1ch * 4.8 );

    // ! SINGLE PAGE HEADER
    --page-header-min-height: 330px;
    --page-header-blog-min-height: 550px;
    --content-max-width: 1240px;
    --default-horiz-padding: clamp(1.25rem, 5vw, 3rem);

    --border-def: 1px solid var(--ui-color);


    // ! SLIDER DIMENSIONS
    --slider-min-height-base: 500px;
    @media only screen and (max-width : 980px) {
        --slider-min-height-base: 1px;
    }
    --slider-min-height: clamp(460px,var(--slider-min-height-base) + 10vw,890px);
	--slider-height: 100vh;

    // * Animated border tiles
    --anim-border-width: 2px;
    --anim-border-radius: var(--def-border-radius);
    // --bright-color: #3ac47e;
    --bright-color: white;
    // --bright-color: red;
    // --border-color: #b2c6d7;
    --border-color: #c1cdd5;
}

// html,body {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     overflow-x: hidden;
//     margin: 0;
//     box-sizing: border-box;
// }

html {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

body,p {
    color: var(--txt-color);
}

a {
    color: var(--main-color);
}

body {
	// background-color: var(--main-color) !important;
}

:root,html,body {
	font-size: 18px;
}

input,button {
	&:focus {
		border-style: inherit !important;
	}
}



h1,h2,h3 {
	font-family: var(--def-heading-font-family) !important;
    span {
        display: inline-block;
    }
}

h1 {
	font-size: clamp(1.4rem,6vw,2.6rem) !important;
	line-height: 1.8ch !important;
}

body,p {
	font-family: var(--def-font-family);
	font-weight: 300;
}

p {
    padding-bottom: 2.5ch;
    &:last-child {
        padding-bottom: 0;
    }
    &:empty {
        display: none !important;
    }
}

sup {
    top: -0.2em;
    font-size: 0.5em !important;
    vertical-align: super;
    font-weight: inherit;
    font-weight: bold;
}

::selection {
    background-color: var(--main-color) !important;
    color: #ffffff !important;
    -webkit-text-fill-color: white;
    -webkit-background-clip: unset;
}


/*------------------------------------------------------------------------------------------------------*
RESET THEME SPECIFIC STYLES
\*------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width : 1200px) {
    .ast-plain-container.ast-no-sidebar #primary {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.ast-above-header.ast-above-header-bar {
    // background-color: transparent;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
    border-bottom: 0;

}

:where(body .is-layout-constrained) > * {
    margin-block-start: unset !important;
    margin-block-end: unset !important;
}

.ast-mobile-header-wrap .ast-primary-header-bar, .ast-primary-header-bar .site-primary-header-wrap {
    min-height: unset;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: unset !important;
    margin-right: unset !important;
}

.ast-mobile-header-wrap .ast-above-header-bar, .ast-above-header-bar .site-above-header-wrap {
    min-height: unset;
}

.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item {
    line-height: unset;
}

a:focus, a:focus-visible {
    outline: none !important;
}

.entry-content > .wp-block-group, .entry-content > .wp-block-cover, .entry-content > .wp-block-columns {
    padding: 0
}

p, .entry-content p {
    margin-bottom: 0;
}

.ast-container, .ast-container-fluid {
    padding-left: var(--def-layout-horiz-padding) !important;
    padding-right: var(--def-layout-horiz-padding) !important;
}

.site-below-footer-wrap {
    background-color: unset !important;
}

.site-footer-section {
    margin-bottom: 0 !important;
}

.widget_block {
    .wp-block-group > p:first-of-type:empty {
        display: none;
    }
}

.ast-menu-toggle:focus {
    outline: none;
}

.ast-mobile-header-wrap .ast-mobile-header-content {
    background-color: unset;
}

/*------------------------------------------------------------------------------------------------------*
END RESET ASTRA THEME STYLES
\*------------------------------------------------------------------------------------------------------*/
