---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.scss';
---

<Layout title="Escudo Ciber®" description='Escudo Ciber, tu seguro de ciberriesgo defintivo.' contentType='home'>
<main>
	Hola que ase
	<button>Dale aquí</button>
	<Card title="Card1" body="hola que ase" href="/"/>
</main>
</Layout>

<style>
</style>
